@using NonFactors.Mvc.Grid
@model List<Sistema_Fallas_IMSS.ViewModels.VM_ListUsuarios>
@(Html.Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Hidden();
        columns.Add(model => model.Nombre).Titled("Nombre");
        columns.Add(model => model.Cuenta).Titled("Cuenta");
        columns.Add(model => model.Rol).Titled("Rol");
        columns.Add(model => model.Id).Titled("Editar").Encoded(false).Css("text-center").RenderedAs(model => $"<a href='#' onclick='AbrirModalUsuario({model.Id})' data-placement='left'><span style='text-align:center'><i class='fa-solid fa-pen-to-square btn btn-info'></i></span></a>");
        columns.Add(model => model.Id).Titled("Eliminar").Encoded(false).Css("text-center").RenderedAs(model => $"<a href='#' onclick=''><span style='text-align:center'><i class='fa-solid fa-circle-xmark btn btn-danger'></i></span></a>");
    })
.Empty("Sin registros encontrados")
.Named("gridUsuarios")
.Id("gridUsuarios")
.Css("table-condensed")
.Pageable(pager =>
{
    pager.RowsPerPage = 10;
})
)
